[SERVICE]
    Flush        1
    Daemon       Off
    Log_Level    info
    Log_File     {{ fluentb_log_logfile }}
    Parsers_File  {{ fluentb_log_parsersfile }}
{% for input in fluentb_log_inputs %}
[INPUT]
    Name   tail
    Path   {{ input.path|default(fluentb_log_path) }} 
{% if input.tag is defined %}
    Tag    {{ input.tag }}
{% else %}
    Tag    {{ input.path|basename|splitext|first }}
{% endif %}
    DB     {{ input.db|default(fluentb_log_db) }}
{% if input.parsers is defined %}
    Multiline On
    Parser_Firstline {{ input.parsers|first }}
{% for parser in input.parsers %}
{% if loop.index != 1 and loop.index != loop.length %}
    Parser_{{ loop.index0 }} {{ parser }}
{% endif %}
{% endfor %}
    Parser_N {{ input.parsers|last }}
{% else %}
    Parser {{ input.parser|default(fluentb_log_parser) }}
{% endif %}
{% if input.exclude_path|default(fluentb_log_exclude_path) %}
    Exclude_Path {{ input.exclude_path|default(fluentb_log_exclude_path) }}
{% endif %}
    Skip_Long_Lines On
{% endfor %}

{# multiple outputs #}
{% if fluentb_log_output_map is defined and fluentb_log_output_map|length > 0 %}
{% for output in fluentb_log_output_map|dict2items %}
[OUTPUT]
    Name  es_{{ output.value }}
    Match {{ output.key }}
    Host  {{ fluentb_log_es_host }}
    Port  {{ fluentb_log_es_port }}
    Tag_Key {{ fluentb_log_es_tag_key }}
    Include_Tag_Key On
    Logstash_Prefix {{ output.value }}     
    Logstash_Format {% if fluentb_log_logstash_format %}On{% else %}Off{% endif %}

    Replace_Dots {% if fluentb_log_es_replace_dots %}On{% else %}Off{% endif %}

{% endfor %}
{# single output #}
{% else %}
[OUTPUT]
    Name  es
    Match {{ fluentb_log_es_match }}
    Host  {{ fluentb_log_es_host }}
    Port  {{ fluentb_log_es_port }}
    Tag_Key {{ fluentb_log_es_tag_key }}
    Include_Tag_Key On
    Logstash_Prefix {{ fluentb_log_logstash_prefix }}     
    Logstash_Format {% if fluentb_log_logstash_format %}On{% else %}Off{% endif %}

    Replace_Dots {% if fluentb_log_es_replace_dots %}On{% else %}Off{% endif %}

{% endif %}
