#! /bin/sh
### BEGIN INIT INFO
# Provides:          {{ fluentb_log_service }}
# Required-Start:    $remote_fs $network
# Required-Stop:     $remote_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start {{ fluentb_log_service }} daemon
# Description: Start {{ fluentb_log_service }} daemon
### END INIT INFO

NAME={{ fluentb_log_name }}
DAEMON={{ fluentb_log_exec }}
PID={{ fluentb_log_pidfile }}
CONFIG={{ fluentb_log_config }}

[ -x $DAEMON ] || exit 0


case "$1" in
    start)
        start-stop-daemon --start --make-pidfile --pidfile $PID \
            --background --chuid {{ fluentb_log_user }} --exec $DAEMON -- -c $CONFIG
    ;;
    stop)
        start-stop-daemon --stop --pidfile $PID --remove-pidfile
    ;;
    restart)
        $0 stop
        $0 start
    ;;
    status)
        start-stop-daemon --status --pidfile $PID
    ;;
    *)
        echo "Usage: $0 {start|stop|restart|status}" >&2
        exit 1
    ;;
esac
