[Unit]
Description=Fluentb agent {{ fluentb_log_name }}
Requires=network.target
After=network.target

[Service]
Restart=always
Type=forking
User=fluentb
ExecStart=start-stop-daemon --start --makepidfile --pidfile {{ fluentb_log_pidfile }}
    --background --exec {{ fluentb_log_exec }} -- -c {{ fluentb_log_config }}
ExecStop=start-stop-daemon --stop --pidfile {{ fluentb_log_pidfile }} --removepidfile
PIDFile={{ fluentb_log_pidfile }}

[Install]
WantedBy=multi-user.target
